@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1,h2{
  margin:2% 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing:3px;
}
.container{
  width: 100%;
}
.center-area{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  margin:10% 0;
}
.users-container {
  display: flex;
  justify-content: center;
}
.btn-outline-primary{
  letter-spacing:2px; 
  font-size: 14px!important;
  font-family: 'Roboto', sans-serif;;
  font-weight: 500!important;
}
.card {
  flex-direction: row !important;
  justify-content:space-around !important;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 5%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px rgba(0 0 0 / 20%);
  transition: all .3s ease;
  color: #000;
  background-color: #fff ;
}
.card:hover{
  transform: scale(1.1);
}
.card img {
  height:120px;
  width:120px;
  border: 2px solid rgba(0,0,0,0.5);
  box-shadow: 1px 5px 10px rgba(0 0 0 / 20%);
  border-radius: 50%;
  object-fit: contain;
}
.card img:hover {
  transform: scale(1.05);
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-title{
  letter-spacing:1.25px;
}
.card-text{
  font-size:13px;
  font-family:"Roboto";
  font-weight: 6  00;

}